<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yfortier.koifaire">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/koifaire_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/koifaire_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXnNfLBuqMBO57Kb4mKlnILp5eeUHm-YE" />

        <activity
            android:name="com.yfortier.koifaire.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name="com.yfortier.koifaire.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>